[Desktop Entry]
Name=Virgola
Comment=View and edit CSV files
Exec=virgola %f
Terminal=false
Type=Application
Icon=com.github.virgola
Categories=Office;Utility;
MimeType=text/csv;text/plain;
Keywords=csv;spreadsheet;table;
